<div class="section custom-section">
  <div class= "col-md-3">
  </div>
  <div class="col-md-9">
    <p>
      <%=  link_to "Back to settings page", controller: "home", action: "index"%>
    </p>
  </div>
</div>
<h1>All orders</h1>

 <table style="width:100%">
	<tr>
		<th>S.No</th>
		<th>Order ID</th>
		<th>Order Number</th>
		<th>Subtotal Price</th>
		<th>Total Tax</th>
		<th>Total Price</th>
		<th>Gateway</th>
		<th>Line Items</th>
		<th>Customer</th>
		<th>Insured</th>
	</tr>
	<% i=1 %>
	<% @orders.each do |order| %>
	<% is_insured = 'No' %>
	  <tr>
	  	<td><%= i.to_s %>.</td>
	    <td><%= order.id %></td>
	    <td>#<%= order.order_number %></td>
	    <td><%= order.currency %>&nbsp<%= order.subtotal_price %></td>
	    <td><%= order.currency %>&nbsp<%= order.total_tax %></td>
	    <td><%= order.currency %>&nbsp<%= order.total_price %></td>
	    <td><%= order.gateway %></td>
	    <td>
	    	<% j=1 %>
	    	<% order.line_items.each do |line_item| %>

	    	<!-- check is insured -->
	    	<% if @shop_exist.setting.bundled_variant_id == line_item.variant_id %>
	    		<% is_insured = 'Yes Insured as bundled' %>
	    	<% end %>
	    	<% if @shop_exist.setting.opt_in_variant_id == line_item.variant_id %>
	    		<% is_insured = 'Yes Insured as opt in' %>
	    	<% end %>
	    	<!-- end check is insured -->


	    	<p>Item No.&nbsp;<%= j.to_s %></p>
	    	<p>Name:&nbsp;<%= line_item.title %></p>
	    	<p>Quantity:&nbsp;<%= line_item.quantity %></p>
	    	<p>Price:&nbsp;<%= order.currency %>&nbsp<%= line_item.price %></p>
	    	<% j = j+1 %>
	    	<% end %>

	    </td>
	    <td>
	    	
	    	<p>First Name:&nbsp;<%= order.customer.first_name.titleize %></p>
	    	<p>Last Name:&nbsp;<%= order.customer.last_name.titleize %></p>
	    	<% if order.customer.email.present? %>
	    		<p>Email:&nbsp;<%= order.customer.email %></p>
	    	<% end %>
	    	<p>Phone:&nbsp;<%= order.customer.phone %></p>
	    	<% if order.customer.default_address.present? %>
	    		<p>City:&nbsp;<%= order.customer.default_address.city.titleize %></p>
	    		<p>country:&nbsp;<%= order.customer.default_address.country %></p>
	    		<p>Zip:&nbsp;<%= order.customer.default_address.zip %></p>
	    	<% end %>
	    </td>
	    <td><%= is_insured %></td>
	  </tr>
	<% i = i+1 %>
	<% end %>
  
</table> 

