<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({sectiontitle: "Usage Charge",
      icon: "<%= asset_path('favicon.png') %>"
    });
  });
</script>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<% if @recurring_application_charge.present? && @recurring_application_charge.try(:capped_amount) %>

<div class="section">
  <div class= "col-md-3">
    <h4>
      Recurring charge
    </h4>

    <p>
      Here you can see the terms of the recurring charge and the remaining balance.
    </p>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
           <div class="col-md-6">Total Usage Charges</div>
           <div class="col-md-6"><span class="pull-right">
            $<%= @recurring_application_charge.balance_used %> /
            $<%= @recurring_application_charge.capped_amount.to_f %>
           </span></div>
        </div>
       

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Capped Amount</th>
              <th>Balance Remaining</th>
              <th>Billing On</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= @recurring_application_charge.name %>
              </td>
              <td>
                $<%= @recurring_application_charge.price %>
              </td>
              <td>
                $<%= @recurring_application_charge.capped_amount.to_f %>
              </td>
              <td>
                $<%= @recurring_application_charge.balance_remaining %>
              </td>
              <td>
                <%= @recurring_application_charge.billing_on %>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<hr>

<div class="section">
  
  <div class="col-md-9">

    <% if @usage_charges.try!(:any?) %>
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Description</th>
                <th>Price</th>
                <th>Billing On</th>
              </tr>
            </thead>
            <tbody>
              <% @usage_charges.to_a.reverse.each do |charge| %>
                <tr>
                  <td>
                    <%= charge.description %>
                  </td>
                  <td>
                    $<%= charge.price %>
                  </td>
                  <td>
                    <%= charge.billing_on %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="section custom-section">
  <div class= "col-md-3">
  </div>
  <div class="col-md-9">
    <p>
      <%= link_to 'Cancel charge', destroyrecurringhome_path(@recurring_application_charge,@shop_exist.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>

      <%=  link_to "Activate Recommendation Settings", controller: "home", action: "index"%>
     
    </p>
  </div>
</div>


<% else %>

<div class="section">
  <div class= "col-md-3">
    <h4>
      No Recurring charge Applied, to use the app!
    </h4>

    <p>
      
      <%=  link_to "Click here to create a new recurring charge with a capped amount.", createnewrecurring_path ,:target => "_blank"%>
    </p>
  </div>

  
</div>

<% end %>
