<div class="section">
    <div class="section-summary">
        <h1>View All Orders</h1>
    </div>
    <div class="section-content">
        <div class="section-row">
            <div class="section-cell">
                <div>
                    <div>
                        <%=  link_to "Click here to see all orders", all_orders_path() %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% form_url = "#{@root_url}/setting?embed=yes" %>
<%= form_tag(form_url, method: "post",  :onsubmit => 'return validateForm()', :target => 'app-iframe') do %>
<input type="hidden" name="setting[shop_id]" value="<%= @shop_exist.id %>">
<input type="hidden" name="setting[id]" value="<%= @setting_id %>">

<div class="section">
   <div class="section-summary">
      <h1>Insurance Coverage Settings</h1>
      <p>Please select one of the setting atleast by click one of the checkbox.</p>
   </div>
   <div class="section-content">
    
      <div class="section-row">
      </div>

      <div class="section-cell">
        <label>Bundled Settings</label>
        <input type="hidden" name="setting[is_bundle]" value="0">
             <input type="checkbox" id="automatic_recommendations" name="setting[is_bundle]" value="1" <%= ( @shop_exist.setting.present? && @shop_exist.setting.is_bundle?) ? 'checked':'' %>  class="set_check">
        <label class="checkbox-label" for="showAutomaticRecommendations">
            Show automatic recommendations based on previous sales
        </label>
    </div>

    <div class="section-cell">
      <label>Opt-in / Opt-out</label>
      <input type="hidden" name="setting[is_opt_in]" value="0">
           <input type="checkbox" id="automatic_recommendations" name="setting[is_opt_in]" value="1" <%= ( @shop_exist.setting.present? && @shop_exist.setting.is_opt_in?) ? 'checked':'' %>  class="set_check">
      <label class="checkbox-label" for="showAutomaticRecommendations">
          Show automatic recommendations based on previous sales
      </label>
  </div>

   </div>
</div>
 <div class="section">
        <div class="section-content submit">
           <span style="color:red;display:none;" id="span_err"></span>

        </div>
    </div>
<div class="section">
   <div class="section-content submit">
      <!-- <a href="https://<%= @shop_exist.shopify_domain%>/admin/apps" class="cancel_btn">Back</a> -->
      <input id="submitButton"  type="submit" class="btn" value="Save">
      <input id="submit_btn" style="display:none;" type="button" class="btn" value="Loading...">
   </div>
</div>
<% end %>
<div>
</div>
<script>
   function validateForm() {
       var x = $('input[class="set_check"]:checked').length;
       if (x > 1) {
           $("#span_err").text('You can check only one checkbox at one time!');
           $("#span_err").show().delay(5000).fadeOut();
           return false;
       } else if(x == 0) {
           $("#span_err").text('Please check at least one checkbox!');
           $("#span_err").show().delay(5000).fadeOut();
           return false;
       } else {
           $("#submitButton").hide();
           $("#submit_btn").show();
       }
   } 
</script>

