<!DOCTYPE html>
<html>
<title>Coming soon</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">
<style>
*{padding: 0; margin: 0;}
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('forestbridge.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.w3-display-middle {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.w3-jumbo {
    font-size: 64px;
    color: #fff;
}
.w3-center {
    text-align: center;
    color: #fff;
    padding-top: 15px;
}
.w3-large {
    font-size: 18px;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
</style>
<body>

<div class="bgimg">
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Few days left..</p>
  </div>
</div>

</body>
</html>
