<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://98967643.ngrok.io/assets/microfiche.js"></script> -->

<!--%= javascript_include_tag "microfiche" %-->
<script src="/assets/custom.js"></script>
<style>

.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}
.lightSlider {
    overflow: hidden;
    margin: 0;
}
.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.lSSlideWrapper > .lightSlider:after {
    clear: both;
}
.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
    position: relative;
}
.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}
.customer-slider .lightslider-box li .pro-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #222222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #428bca;
}
.lSSlideOuter .media {
    opacity: 0.8;
}
.lSSlideOuter .media.active {
    opacity: 1;
}
/* End of pager */

/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
    transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px;
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}
/* End of Gallery*/

/* slider actions */
.lSAction > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
    opacity: 1;
}
.lSAction > .lSPrev {
    background-position: 0 0;
    left: 10px;
}
.lSAction > .lSNext {
    background-position: -32px 0;
    right: 10px;
}
.lSAction > a.disabled {
    pointer-events: none;
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/* vertical */
.lSSlideOuter.vertical {
    position: relative;
}
.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
    width: 100% !important;
    max-width: none !important;
}

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}
/* vertical */


/* Rtl */
.lSSlideOuter.lSrtl {
    direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
    float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}
/* Rtl */

@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}
.customer-slider {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    padding: 25px;
    box-sizing: border-box;
    margin-top: 20px;
}
.customer-slider ul#lightSlider {
    height: auto!important;
}
.lightslider-box li .product-img {
    background-size: contain!important;
    max-height: 175px;
}
.lightslider-box li .product-desc {
    margin-bottom: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.lightslider-box li .product-desc a {
        font-size: 13px;
    font-weight: 300;
    line-height: 1.29;
    color: #212121;
    font-family: arial;
}
.lightslider-box li {
    padding: 0;
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
    position: relative;
}
.lightslider-box li .add-cart{
    font-family: "Work Sans","HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 1.11667px;
    white-space: normal;
    line-height: normal;
    color: rgb(255, 255, 255);
    background-color: rgba(119, 150, 168, 0.65);
    box-shadow: none;
    border: medium none;
    border-radius: 0px;
    padding: 40% 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    top: 0;
    height: 100%;
    max-height: 360px;
    opacity: 0;
    transition: all 0.5s;
}
.lightslider-box li .add-cart a{
    opacity: 1!important;
}
.lightslider-box li .add-cart span{
    color: rgb(255, 255, 255);
    background: #df3f1f;
    padding: 10px;
    font-weight: 600;
}
.lightslider-box li:hover .add-cart{
    opacity: 1;
    transition: all 0.5s;
}
.lightslider-box li .pro-title {
    font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #2f2f2f;
    margin-top: 0px;
    margin-bottom: 5px;
}
.lightslider-box li .pro-title a {
 color: #2f2f2f;
}
#custom_product_recommendation h1:after {
    content: '';
    height: 2px;
    background: #9c756f;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -45px;
    width: 90px;
}
#custom_product_recommendation h1 {
    font-size: 20px;
    font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
    text-align: center;
    margin-bottom: 50px;
    color: #444;
    font-weight: 400;
    line-height: 1;
    position: relative;
}
.lightslider-box li .pro-price span {
    font-size: 13px;
    color: #dc0000;
    font-weight: bold;
}
.lightslider-box li .roductimgsec {
    margin-bottom: 0px;
    display: block;
    padding-top: 12px!important;
    /*height: 185px!important;*/
}
.lightslider-box li .image-content {
    padding: 10px;
}
.customer-slider .lSPager li {
    margin: 0;
    line-height: 1;
}

.doslideresponsive li {
display: inline-block;
float: none!important;
}
.doslideresponsive {
    width: 100%!important;
    text-align: center;
}
</style>

<% if @shop_exist.setting.present? && @shop_exist.setting.activation? %>

<div class="customer-slider">
    <h1 class="">Product Recommendations</h1>
    <ul id="lightSlider" class="lightslider-box"style="display: inline-block; position: relative; left: 0px; padding: 0px; margin: 0px; list-style-type: none; border: medium none;">
        <% @fetch_associate.each do |val| %>

        <% begin %>

        <% product = ShopifyAPI::Product.find(val) %>
         <% if product.present? %>

             <% product_url = "https://"+@shop_exist.shopify_domain+"/products/"+product.handle  %>
             <% image_url= (product.image.present?) ? product.image.src : 'https://atariage.com/forums/public/style_images/atariage_34/nexus/default_product.png' %>
            <li class="" >
                <a class="roductimgsec" href="<%= product_url %>" style="width: 100%; height: 100%; padding: 0px;">
                    <div class="product-img" style="height: 265px; overflow: hidden; background-image: url(&quot;<%= image_url%>&quot;); background-position: center center; background-size: contain; background-repeat: no-repeat; opacity: 1;"></div>
               
                <div class="image-content">
                <% unless @shop_exist.setting.product_name.blank? %>
                <h3 class="pro-title" style="text-align:center;"><a href="<%= product_url %>" ><%= product.title.titleize %></a>
                </h3>
                <% end %>
                <% unless @shop_exist.setting.product_description.blank? %>
                <h3 class="product-desc" ><a href="<%= product_url %>" ><%= product.body_html.titleize %></a>
                </h3>
                <% end %>
                <% unless @shop_exist.setting.product_price.blank? %>
                <div class="pro-price" style="text-align:center;"><a href="<%= product_url %>" ><span class="">$<%= product.variants[0].price %></span></a>
                </div>
                 <% end %>
                </div>
                
                
                <!--div class="add-cart"-->
                <!-- <div class="">
                    <a href="<%= product_url %>" target="_blank"><span style="color: rgb(255, 255, 255);">Add to cart</span>
                    </a> 
                </div> -->
               </a>  
            </li>
         <% end %>
         
         <% rescue %> <!-- fetch error in recue the do next --> 
            <% next %> <!-- continue loop if found error -->
         <% end %> <!-- end try catch -->

        <% end %> <!-- end loop -->
    </ul>
    
</div>

<% end %>
<!-- slider script -->
<script>
/*$(document).ready(function() {
    var autoplaySlider = $('#lightSlider').lightSlider({
        item:4,
        auto:true,
        loop:true,
        slideMargin:10,
        slideWidth:200,
        loop:false
    });
    //$('#total').text(autoplaySlider.getTotalSlideCount());
});*/


</script>
