/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*===========================*/
 * {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
}
body {
  line-height: 20px;
  color: #212b35;
  background: #f4f6f8;
  text-align: left;
  margin: 0px;
}

div {
  display: block;
}

table {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

th {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  font-weight: 400;
  text-align: left;
  color: #31373d;
  padding: 8px 10px;
  border-bottom: 1px solid #ebeef0;
  -webkit-user-select: none;
}

tr:hover {
  background-color: #f9fafb;
}

td, th {
  display: table-cell;
  vertical-align: inherit;
}

td {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ebeef0;
  padding: 6px 10px;
  background: transparent;
  color: #647482;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

p.note {
  color: #888888;
  font-weight: normal;
  text-transform: none;
  margin-bottom: 10px;
  margin-top: 0px;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

form {
  display: inherit;
  width: 100%;
}

/****************************************** 
* GENERAL CLASSES
*******************************************/
.full-width {
  width: 100%;
}

.half-width {
  width: 100%;
}

/****************************************** 
* LINKS
*******************************************/
a {
  color: #0078bd;
  text-decoration: underline;
  line-height: 18px;
  font-weight: none;
  position: relative;
}

a:hover {
  color: #4293c2;
}

a.warning {
  color: #db7878;
  text-decoration: underline;
  line-height: 18px;
  font-size: 13px;
}

a.warning:hover {
}

a.help {
  color: #454e57;
  text-decoration: underline;
  line-height: 18px;
  font-size: 13px;
}

a.help:hover {
}

.tooltip-container {
  top: -webkit-calc(100% + 8px);
  top: calc(100% + 8px);
  left: 50%;
  line-height: 18px;
  position: absolute;
  z-index: 999;
}

.tooltip-label {
  border-radius: 3px;
  background-color: rgba(33, 37, 41, 0.9);
  color: white;
  display: block;
  font-size: 12px;
  font-weight: normal;
  left: -50%;
  padding: 4px 9px;
  position: relative;
  text-indent: 0;
  text-shadow: none;
  white-space: nowrap;
}

/*
Buttons
*/

hr {
  height: 1px;
  color: #000000;
}

/****************************************** 
* BUTTONS
*******************************************/
.btn {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  line-height: 30px;
  padding: 0 9px;
  font-size: 13px;
  border-radius: 3px;
  text-decoration: none;
  white-space: nowrap;
  text-transform: none;
  vertical-align: middle;
  -webkit-appearance: none;
  margin: 0;
}

/* modifier: primary */

.btn.primary {
  background: linear-gradient(to bottom, #6371c7, #5563c1);
  box-shadow: inset 0 1px 0 0 #6f7bcb;
  border: 1px solid #3f4eae;
  color: #FFFFFF;
}

.btn.primary:hover {
  background: linear-gradient(to bottom, #5c6ac4, #4959bd);
  border: 1px solid #3f4eae;
  color: #FFFFFF;
}

.btn.primary:active {
  background: linear-gradient(to bottom, #3f4eae, #3f4eae);
  box-shadow: inset 0 1px 0 0 #38469b, 0 0 0 1px #38469b;
  border: 1px solid #38469b;
  color: #FFFFFF;
}

/* modifiers: default, filter-left */
.btn.default, .btn.filter-left, .btn.destroy {
  background: linear-gradient(to bottom, #fff, #fafbfc);
  box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
  border: 1px solid #c4cdd5;
  color: #212b35;
}

.btn.filter-left {
  border-right: none;
  padding: 0 20px 0 9px;
}

.btn.default:hover, .btn.filter-left:hover {
  background-color: #efefef;
  border: #d6d6d6 1px solid;
}

.btn.destroy:hover {
  background: #963838 -webkit-linear-gradient(#963838, #a83f3f) repeat scroll 0% 0%/auto padding-box border-box;
  background: #963838 linear-gradient(#963838, #a83f3f) repeat scroll 0% 0%/auto padding-box border-box;
  border: 1px solid #712a2a;
  color: white;
}

.btn.filter-left:hover {
  border-right: 0;
}

.btn.default:active, .btn.filter-left:active {
  background-color: #e3e3e3;
  border: #c9c9c9 1px solid;
  border-bottom: 1px solid #e6e6e6;
}

.btn.destroy:active {
  background: #963838 -webkit-linear-gradient(#963838, #a83f3f) repeat scroll 0% 0%/auto padding-box border-box;
  background: #963838 linear-gradient(#963838, #a83f3f) repeat scroll 0% 0%/auto padding-box border-box;
  border: 1px solid #712a2a;
  color: white;
}

.btn.filter-left:active {
  border-right: 0;
}

/* Segmented Butons - TODO: minor adjustments needed before documenting */
.segmented {
  margin-left: 5px;
  padding: 0;
  line-height: 22px;
  font-size: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  list-style: disc outside none;
  color: #31373d;
}

.segmented li {
  float: left;
  list-style-type: none;
  display: inline-block;
  margin: 0;
  position: relative;
  text-align: -webkit-match-parent;
}

/****************************************** 
* SECTIONS
*******************************************/
.section {
  border-bottom: #ebeef0 1px solid;
  float: none;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  padding: 10px 0 10px 0;
}

.section:last-of-type {
  border-bottom: 0px;
}

.section-summary {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  padding: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 30px 30px 20px 50px;
}

.section-summary h1 {
  color: #212b35;
  font-size: 16px;
  margin-bottom: 10px;
  margin-bottom: 0px;
  font-weight: 600;
}

.section-summary p {
  color: #647482;
  margin-bottom: 15px;
}

.section-summary p:last-child {
  margin-bottom: 0;
}

.section-content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 20px 15px 15px;
}

.section-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.section-row:last-of-type {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0px;
}

.section-cell, .section-listing {
  padding: 20px;
  color: #637381;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
}

.section-cell {
  margin-right: 10px;
}

.section-cell:last-of-type {
  margin-right: 0px;
}

.cell-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.cell-column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 20px 0 0;
}

.cell-container .cell-column:last-of-type {
  padding: 0;
}

.cell-row {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section-listing {
  padding: 0px;
}

.section-listing {
  margin: 0px;
}

.section-tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f5f6f7;
  overflow: visible;
  border-radius: 3px 3px 0 0;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.section-tabs::after {
  content: '';
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-bottom: 1px solid #ebeef0;
}

.section-tabs li {
  /*padding: 0;
  margin: 0 0 -1px -1px;
  float: left;
  list-style: none;
  background: #f2f4f5;
  border-bottom: solid 1px #d3dbe2;*/
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.section-tabs li:first-child, .section-tabs li:first-child a {
  border-top-left-radius: 4px;
}

.section-tabs li:first-child {
  margin-left: 0;
}

.section-tabs li a {
  padding: 15px 20px;
  text-decoration: none;
  color: #647482;
  border-right: 1px solid #ebeef0;
  border-bottom: 1px solid #ebeef0;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-tabs li.active {
  background: white;
  border-bottom: solid 1px white;
  color: #0078bd;
  cursor: default;
}

.section-tabs li.active a {
  background-color: white;
  color: #31373d;
  border-bottom-color: white;
  cursor: default;
  text-decoration: none;
}

.section-tabs li a:hover {
  color: #479CCF;
  background: #FAFBFC;
}

.section-tabs li.active a:hover {
  text-decoration: none;
  background: inherit;
  color: #31373d;
}

.section-filter {
  padding: 20px;
  padding-bottom: 0px;
  display: table;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.section-filter div {
  display: table-row;
}

.section-filter div div {
  display: table-cell;
}

.section-filter div div.filter-freecell {
  width: 99%;
}

.section-filter input {
  border-radius: 0px;
  padding-left: 28px;
  height: 32px;
  background-image: url("https://cdn.shopify.com/s/assets/admin/icon-sprite-69fb7315250564ab3a0142a102e7a18c.png");
  background-repeat: no-repeat;
  background-position: -4px -960px;
  display: inline-block;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  color: #222;
  border: 1px solid #e3e3e3;
  position: relative;
  left: -4px;
}

.section-filter input[type="text"]:focus {
  border: #479CCF 1px solid;
  outline: 0;
}

/****************************************** 
* TAGS
*******************************************/
.tag {
  border-radius: 3px;
  margin-right: 10px;
  padding: 4px 5px 3px 5px;
  vertical-align: middle;
  border: solid 1px;
}

.tag.gray {
  background: #aaa;
  color: white;
  border: solid 1px #a0a0a0;
}

.tag.lightgray {
  background: #f2f4f5;
  color: #96a7b6;
  border: solid 1px #e6ebed;
}

.tag.orange {
  background-color: #f4c58f;
  color: #815621;
  border: solid 1px #e6b77f;
}

.tag.blue {
  border: 1px solid #cbdbee;
  background: #e9f3ff;
  color: #647f9e;
}

.tag.inactive {
  opacity: 0.4;
}

/* Inputs */
input, select {
  border-radius: 3px;
  height: 32px;
  font-size: 16px;
  margin-bottom: 15px;
  max-width: 100%;
  font-size: 13px;
  border: 1px solid #ccc;
}

input[type=text], select {
  width: 100%;
  padding-left: 2px;
}
input[type=number] {
  padding-left: 2px;
}

input {
  height: 28px;
}

textarea {
  margin-bottom: 15px !important;
  min-height: 72px;
  line-height: 20px;
  -webkit-transition: min-height 0.15s;
  transition: min-height 0.15s;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  vertical-align: top;
  height: 28px;
  font-size: 13px;
  padding: 4px;
  margin: 0;
  border: 1px solid #ccc;
  display: inline-block;
  color: #222;
  border-radius: 3px;
}

input[type=radio], input[type=checkbox] {
  float: left;
  height: auto;
  line-height: 1;
  width: auto;
  max-width: none;
  margin: 0 5px 5px 0;
  border: none;
  padding: 0;
  vertical-align: baseline;
  display: inline-block;
}

label {
  color: #000;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

label.label-normal {
  font-weight: normal;
}

/****************************************** 
* TABLES
*******************************************/
table.table-section {
  padding-top: 8px;
  padding-bottom: 8px;
}

table.table-section tbody tr:hover {
  background: #f5fbff;
}

table.table-section .sortable:hover {
  background: #f5fbff;
  color: #0078bd;
  cursor: hand;
}

/****************************************** 
* CONTAINERS
*******************************************/
.container {
  position: relative;
  padding: 10px;
  background: #fafafa;
  border: 1px solid #e3e3e3;
  margin-top: 5px;
  border-radius: 3px;
}

/* Modifiers */
.container code {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 13px;
  color: #575757;
}

/*============*/
.indent {
    padding-left: 22px;
}

.submit {
    text-align: right;
}

.btn {
    margin-bottom: 2px;
}

.slider-label {
    vertical-align: 50%;
}

.checkbox-label {
    font-weight: normal;
    margin-top: -2px;
}

.checkbox-preference {
    min-height: 20px;
}

.select-label {
    width: auto;
    display: inline;
    height: 20px;
}

textarea {
    font-family: monospace;
}

.checkbox-tip {
    margin: 0 0 1em 1.8em;
}

.sample-video {
    display: inline-block;
    padding: 2px;
}

.sample-video a {
    font-size: 80%;
}

#apps {
    padding: 1em 2em 1em 3em;
    background-color: #bcbec0;
    color: #31373d;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-rendering: optimizelegibility;
    line-height: 18px;
}

#apps > div {
    background-color: #ffffff;
    width: 310px;
    height: 185px;
    margin: 4px 12px 24px 0px;
    border: 3px solid #eee;
    display: inline-table;
}

#apps > div:hover {
    border: 3px solid #479ccf;
}

#apps span {
    display: block;
    padding: 2px;
}

#apps a {
    text-decoration: none;
}

#apps span.name {
    color: #000;
    font-weight: bold;
}

#apps span.desc {
    color: #aaa;
}

input[type="text"].color {
    width: 80px;
    text-align: center;
}

.truncate-text {
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#top-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f4f6f8;
    box-shadow: 0 1px 0 rgba(0,0,0,0.07);
    z-index: 100;
    text-align: right;
    padding: 6px;
}

.flashMessage {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    height: 60px;
    color: #ffffff;
    background-color: rgba(0,0,0, 0.5);
}

.flashError {
    background-color: rgba(255,0,0, 0.8);
}

.review-plea {
    background-image: url('../images/bell.png');
    background-repeat: no-repeat;
    background-position: 50px;
    background-color: #FF8C00;
    font-size: 16px;
    padding: 1em 2em 1em 7.5em;
    line-height: 1.3em;
}

.review-plea a {
    font-size: 16px;
    color: #2a5d7c;
}

.review-plea b {
    font-size: 16px;
}

.warning {
    padding: 1em;
    font-weight: bold;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #f48aa0;
    border: solid 1px #eb2d53;
}

.section-warning {
    font-size: 1.1em;
    color: #000000;
    background-color: #fde8ec;
    border: solid 2px #eb2d53;
}

td.thumbnail {
    width: 100px;
    text-align: center;
}

td.icon {
    padding: 0;
    width: 40px;
    text-align: center;
    vertical-align: middle;
}

td.icon form {
    display: inline;
}

td.icon input {
    border: none;
    margin-bottom: 0;
}

tr.unpublished {
    background-color: rgba(200,200,200, 0.1);
}
tr.unpublished td.icon, tr.unpublished td.thumbnail {
    opacity: 0.2;
}

input[type="submit"] {
    cursor: pointer;
}

p.pagination {
    margin-top: 2em;
    text-align: center;
}

/* Enable/disable instance button */

.onoffswitch-spinner {
    margin-left: 5px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none !important;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Enabled";
    padding-left: 7px;
    background-color: #EEEEEE; color: #658c24;
}
.onoffswitch-inner:after {
    content: "Disabled";
    padding-right: 7px;
    background-color: #EEEEEE; color: #692727;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 14px; margin: 5px;
    background: #963838;
    position: absolute; top: 0; bottom: 0;
    right: 62px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #91C834;
}

.listen {
    cursor: pointer;
    height: auto;
    margin: 0;
}

.choose-plan {
    position: relative;
    color: #000000;
    margin: 10px;
    padding: 0;
    text-align: center;
    border: 1px solid #1c2260;
    border-radius: 8px;
    min-height: 200px;
}

.monthly-plan, .annual-plan {
    background-color: #1c2260 !important;
}

.plan-name {
    font-size: 1.6em;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #ffffff;
}

.plan-price {
    margin-top: 16px;
    font-size: 1.3em;
    font-weight: bold;
}

.plan-saving {
    color: #2f82b4;
    font-weight: bold;
}

.plan-description {
    margin-top: 10px;
    min-height: 40px;
    text-align: center;
    padding: 0px 10px;
}

.plan-btn {
    color: #ffffff !important;
    height: auto;
    margin: 8px 4px;
    padding: 2px 20px;
}

.target-option {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #f8f8ff;
    border: solid 0.5px #d8d8d8;
    border-radius: 4px;
}
.section .section-cell {
	padding: 0; 
	background-color: transparent;
	border-radius: 0; 
	box-shadow: none;
}
 .section .section-summary {
 	padding: 0;
 } 
.section .section-content {
	padding: 0 0 0 50px;
}
form#cbb-main-form .section {
	width: auto;
	padding: 20px;
	background-color: #dfe4e8;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
	margin: 20px;
	box-sizing: border-box;
    border-bottom: 0;
}
 .section .section-content .section-cell {
	padding: 0;
	background-color: transparent;
	border-radius: 0;
	box-shadow: none;
}
.section .section-summary h1 {
	margin: 0;
}
.section .section-content .section-cell p {
	margin: 0;
}
.app-content hr {display: none;}  
 .custom-section a {background: linear-gradient(to bottom, #6371c7, #5563c1);
border-color: #3f4eae;
-webkit-box-shadow: inset 0 1px 0 0 #6f7bcb;
box-shadow: inset 0 1px 0 0 #6f7bcb;
color: #ffffff;
font-size: 14px;
padding: 0px 10px;
height: 40px;
line-height: 40px;
margin: 0 10px;
display: inline-block;
text-decoration: none;
border-radius: 5px;
}

.custom-section a:hover {background: -webkit-gradient(linear, left top, left bottom, from(#5c6ac4), to(#4959bd));
background: linear-gradient(to bottom, #5c6ac4, #4959bd);
border-color: #3f4eae; color: #ffffff;}
.custom-section p {margin: 0;}
.custom-section a.btn-danger {background: #000;
border: 0; color: #fff; outline: none;}
.custom-section {float: right;}
.custom-section a:last-child {margin-right: 20px;}

.section-content.submit {
  text-align: center;
}
.section-content.submit .btn, .cancel_btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 120px;
  height: 40px;
  font-size: 16px;
  background: #1c2260;
  color: #fff;
  border-color: #1c2260;
  transition: 0.3s;
  border-radius: 0;
}
.section-content.submit .cancel_btn {
  background: #000;
  text-decoration: none;
  line-height: 40px;
}
.section-content.submit .cancel_btn:hover {background: #1c2260; color: #fff;}